.body{
    background-color: yellow;
    width: 1500px;
    height: 900px;
    
}
.child1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.item1{
    height: 120px;
    width: 120px;
    background-color: rgb(30, 81, 123);
    position: relative;
    left: 500px;
    top: 0px;
    animation: animate 2s alternate infinite
}
@keyframes animate{
    0%{
        transform: skewy(-20deg);
    }
    50%{
        transform: skewy(20deg);
    }
    75%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}   
.item2{
    height: 120px;
    width: 120px;
    background-color: rgb(30, 81, 123);
    position: relative;
    left: 700px;
    bottom: 99px;
    animation: animate 2s alternate infinite
}
@keyframes animate{
    0%{
        transform: skewy(-20deg);
    }
    50%{
        transform: skewy(20deg);
    }
    75%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}   
.item3{
    height: 120px;
    width: 120px;
    background-color: rgb(30, 81, 123);
    position: relative;
    left: 900px;
    bottom: 219px;
    animation: animate 2s alternate infinite;  
}
@keyframes animate{
    0%{
        transform: skewy(-20deg);
    }
    50%{
        transform: skewy(20deg);
    }
    75%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}
ol{
    font-size: 30px;
    position: relative;
    bottom: 270px;
    left: 420px;
}
.item4{
    height: 120px;
    width: 120px;
    background-color: rgb(198, 162, 232);
    position: relative;
    left: 500px;
    bottom: 250px;
    animation: box 5s alternate infinite;  
}
@keyframes box{
    0%{
        transform: skewy(20deg);
    }
    50%{
        transform: skewy(-20deg);
    }
    75%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}
.item5{
    height: 120px;
    width: 120px;
    background-color: rgb(198, 162, 232);
    position: relative;
    left: 700px;
    bottom: 370px;
    animation: animate 5s alternate infinite
}
@keyframes animate{
    0%{
        transform: skewy(20deg);
    }
    50%{
        transform: skewy(-20deg);
    }
    75%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}   
.item6{
    height: 120px;
    width: 120px;
    background-color: rgb(198, 162, 232); 
    position: relative;
    left: 900px;
    bottom: 490px;
    animation: animate 5s alternate infinite;  
}
@keyframes animate{
    0%{
        transform: skewy(20deg);
    }
    50%{
        transform: skewy(-20deg);
    }
    75%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}
.text{
    font-size: 30px;
    margin-top: -240px;   
}
.item7{
    height: 120px;
    width: 120px;
    background-color: rgb(30, 81, 123);
    position: relative;
    left: 500px;
    bottom: 270px;
    animation: aero 10s alternate infinite;  
}
@keyframes aero{
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}
.item8{
    height: 120px;
    width: 120px;
    background-color: rgb(30, 81, 123);
    position: relative;
    left: 700px;
    bottom: 380px;
    animation: aero 10s alternate infinite
}
@keyframes aero{
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}  
.item9{
    height: 120px;
    width: 120px;
    background-color: rgb(30, 81, 123);
    position: relative;
    left: 900px;
    bottom: 500px;
    animation: fix 10s alternate infinite;  
}
@keyframes fix{
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-180deg);
    }
} 
.tmt{
    font-size: 30px;
    position: relative;
    top: -560px;
}
.item10{
    height: 40px;
    width: 40px;
    background-color: rgb(30, 81, 123);
    margin-top: -500px;
    position: relative;
    left: 540px;
    animation: gap 2s alternate infinite;
}
@keyframes gap{
    0%{
        height: 80px;
        transform: scalex(3)
    }
    50%{
        transform: scalex(3)
    }
    75%{
        transform: scale(3)
    }
    100%{
        transform: scale(3)
    }
}
.item11{
    height: 50px;
    width: 40px;
    background-color: maroon;
    opacity: 7;
    position: relative;
    left: 740px;
    top: -50px;
    animation-direction: alternate;
    animation: free 2s infinite;
}
@keyframes free{
    0%{ 
        width: 120px;
        height: 120px;
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(70deg)
    }
}
.item12{
    height: 120px;
    width: 120px;
    background-color: green;
    position: relative;
    left: 900px;
    top: -140px;
    animation: tmt 2s alternate infinite;
}
@keyframes tmt{
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-180deg);
    }
} 
.p{
    font-size: 30px;
    position: relative;
    bottom: 180px;
}
a{
    font-size: 30px;
    position: fixed;
    left: 550px;
    bottom: 30px;
}
.A{
    background-color: yellow;
    width: 1500px;
    height: 1250px;
}
.a1{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 650px;
    top: 70px;
}
.b1{
    font-size: 25px;
    position: relative;
    top: 60px;
    margin-left: 250px;

}
.a2{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background-color: green;
    position: relative;
    top: 10px;
    left: 710px;
    transition: 2s;
}
.a2:hover {
    width: 300px;
}
.b2{
    font-size: 25px;
    position: relative;
    top: 10px;
    margin-left: 250px;

}
.a3{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background-color: green;
    position: relative; 
    top: -40px;
    left: 710px;
    transition: 2s; 
}
.a3:hover{
    width: 300px;
    height: 300px;
}
.b3{
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-left: 250px;

}
.a4{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background-color: green;
    position: relative; 
    top: -90px;
    left: 710px;
    transition: 2s; 
}
.a4:hover{
    width: 300px;
}
.b4{
    font-size: 25px;
    position: relative;
    top: -90px;
    margin-left: 250px;
}
.a5{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background-color: green;
    position: relative; 
    top: -140px;
    left: 710px;
    transition: 2s; 
}
.a5:hover{
    width: 300px;
}
.b5{
    font-size: 25px;
    position: relative;
    top: -140px;
    margin-left: 250px;
}
.a6{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background-color: green;
    position: relative; 
    top: -190px;
    left: 710px;
    transition: 2s; 
}
.a6:hover{
    width: 300px;
}
.b6{
    font-size: 25px;
    position: relative;
    top: -190px;
    margin-left: 250px;
}
.a7{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background-color: green;
    position: relative; 
    top: -240px;
    left: 710px;
    transition: 2s; 
}
.a7:hover{
    width: 300px;
}
.b7{
    font-size: 25px;
    position: relative;
    top: -240px;
    margin-left: 250px;
}
.a8{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background-color: green;
    position: relative; 
    top: -290px;
    left: 710px;
    transition: 2s; 
}
.a8:hover{
    width: 300px;
}
.b8{
    font-size: 25px;
    position: relative;
    top: 10px;
    margin-left: 250px;
}
.c8{
    position: relative;
    top: -280px;
    margin-left: 190px;
}
.c9{
    position: relative;
    top: -245px;
    margin-left: -62px;
}
.d1{
    height: 700px;
    width: 1510px;
    background-image: url(./sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;  
}
.d2{
    height: 700px;
    width: 1510px;
    border-left: 6px solid orange;
    border-right: 6px solid green;
}
.d3{
   font-size: 40px; 
   font-weight: bold;
   position: relative;
   top: -700px;
   left: 500px;
   background-color: orange;
   width: 140px;  
}
.d4{
    font-size: 40px; 
    font-weight: bold;
    position: relative;
    top: -747px;
    left: 650px;
    background-color: white;
    width: 320px; 
    height: 50px; 
}
.d5{
    font-size: 40px; 
    font-weight: bold;
    position: relative;
    top: -796px;
    left: 980px;
    background-color: green;
    width: 82px; 
    height: 50px;   
}
.d6{
    height: 100px;
    width: 110px;
    background-image: url(./sun.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: sun 150s linear infinite;
}
@keyframes sun 
{
    100%{
        transform: translateX(-1000px);
    }
}
.d7{
    height: 200px;
    width: 500%;
    background-image: url(./road.jpg);
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 7s linear infinite;
}
@keyframes highway
{
    100%{
        transform: translateX(-3400px);
    }
}
.d8{
    height: 250px;
    width: 200%;
    background-image: url(./city.png);
    background-repeat: repeat-x;
    display: block;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 7s linear infinite;
}
@keyframes highway
{
    100%{
        transform: translateX(-1400px);
    }
}
.d9{
    width: 400px;  
    left: 50%;
    position: absolute;
    bottom: 70px;
    transform: translate(-50%);
    z-index: 2;
}
.d9 img{
    width: 100%;
    animation: car 1s linear infinite;
}
@keyframes car
{
    100%{
        transform: translatey(-1px)
    }
    50%{
        transform: translatey(1px);
    }
    0%{
        transform: translatey(-1px);
    }
}
.d10{
    position: absolute;
    left: 50%;
    bottom: 170px;
    transform: translate(-50%);
    z-index: 2;
}
.d10 img{
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
}
.back-wheel{
    position: absolute;
    left: -165px;
    top: 20px;
}
.front-wheel{
    position: absolute;
    left: 80px;
    top: 20px;
}
@keyframes wheel
{
    100%{
        transform: rotate(360deg);
    }
}
.d11 img{
    width:100px;
    position: absolute;
    top: 420px;
    right: 550px;
    
    
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
